# Copyright (C) 2022 Ülgen Sarıkavak (ulgensrkvk@gmail.com)
# Copyright (C) 2022 Sebastian Pipping (sebastian@pipping.org)
# Licensed under the MIT license

# https://github.com/pre-commit/action

name: "pre-commit"

on:
  pull_request:
  push:
  schedule:
    - cron: '0 2 * * 5'  # Every Friday at 2am
  workflow_dispatch:

# Drop permissions to minimum for security
permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      name: Checkout

    - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405  # v6.2.0
      name: Install Python

    - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd  # v3.0.1
      name: Run pre-commit checks
