# Copyright (C) 2022 Ülgen Sarıkavak (ulgensrkvk@gmail.com)
# Copyright (C) 2022 Sebastian Pipping (sebastian@pipping.org)
# Licensed under the MIT license

# https://github.com/pre-commit/action

name: "pre-commit"

on:
  pull_request:
  push:
  schedule:
    - cron: '0 2 * * 5'  # Every Friday at 2am
  workflow_dispatch:

# Drop permissions to minimum for security
permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      name: Checkout

    - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  # v6.0.0
      name: Install Python

    - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd  # v3.0.1
      name: Run pre-commit checks
